POSTGRES_DB=obd
POSTGRES_USER=obd_user
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

REDIS_PORT=6379

RUSTFS_API_PORT=9000
RUSTFS_CONSOLE_PORT=9001

OBJECT_STORAGE_ENDPOINT=http://localhost:9000
OBJECT_STORAGE_ACCESS_KEY=
OBJECT_STORAGE_SECRET_KEY=
